html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.root {
  min-height: 100vh;
}

.wrapper {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden; 
}

footer {
  position: relative;
  bottom: 15px;
  height: 5%;
  text-align: center;
  font-size: x-large;
}