.form-wrapper > form {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.form-wrapper > form > label {
    margin-left: 10px;
}

.form-wrapper > form > div {
    margin-left: 10px;
}

table, tr, td {
    border: 1px solid rgb(40, 91, 104);
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.game-wrapper > h1 {
    position: absolute;
    top: 53vh;
}

.bot-input {
    padding:10px;
    border: 10px;;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

.fight-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background: rgb(74, 103, 146);
    height: 38px;
    margin: 1 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.fight-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}

.sim-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background: rgb(74, 103, 146);
    height: 100px;
    margin: 1 0.3em 0.3em 0;
    border-radius:0.8em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 15px;
    cursor: pointer;
}

.sim-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}

.play {
    margin-top: 5px;
    font-size: 50px;
}
