.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    min-height: 80vh;
}

.sign-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sign-input {
    padding:10px;
    border: 10px;;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

.sign-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background: rgb(74, 103, 146);
    height: 38px;
    margin-top: 10px;
    margin: 1 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.sign-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}