section {
    height: auto;
    width: 100%;
}
section > .wrapper {
    margin-top: 5%;
    overflow: visible;
}

#dashboard {
    height: auto;
    overflow: hidden;
}

section > .wrapper > h2 {
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section > .wrapper > p {
    font-size: 1.2em;
}

section > .wrapper > p#motto {
    font-size: 1.5em;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    border: none;
    color: #fffff0;
    font-size: 2.5em;
    height: 39vh;
    width: 39vw;
    position: relative;
    border-radius: 5%;
    margin-bottom: 10%;
}

.book {
    margin-top: 10%;
    font-size: 1.5em;
}

.robot {
    margin-top: 10%;
    font-size: 1.5em;
}

.btn:hover {
    color:peru;
    cursor: pointer;
}

section#doc-section > .wrapper > .btn {
    background-color: rgb(74, 103, 146);
    float: left;
    left: 10%;
    border: 6px solid rgb(0, 46, 48);
}

section#arena-section > .wrapper > .btn {
    background-color: rgb(74, 103, 146);
    float: right;
    right: 10%;
    border: 6px solid rgb(0, 46, 48);
}


.btn > div {
    display: block;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}