section {
    height: 100%;
    width: 100%;
}
section > .wrapper {
    height: 100%;
    width: 98%;
    position: relative;
    margin-top: 5%;
}

section > .wrapper > h2 {
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section > .wrapper > p {
    font-size: 1.2em;
}

section > .wrapper > p#motto {
    font-size: 1.5em;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section > button {
    border: none;
    color: #fffff0;
    font-size: 2.5em;
    height: 39vh;
    width: 39vw;
    position: absolute;
    border-radius: 5%;
    margin-bottom: 10%;
}

.book {
    margin-top: 10%;
    font-size: 1.5em;
}

.robot {
    margin-top: 10%;
    font-size: 1.5em;
}

section > button:hover {
    color:peru;
    cursor: pointer;
}

section#doc-section > button {
    background-color: rgb(74, 103, 146);
    left: 10%;
    border: 6px solid rgb(0, 46, 48);
}

section#doc-section > button {
    background-color: rgb(74, 103, 146);
    left: 10%;
    border: 6px solid rgb(0, 46, 48);
}

section#arena-section > button {
    background-color: rgb(74, 103, 146);
    right: 10%;
    border: 6px solid rgb(0, 46, 48);
}

section > button > div {
    display: block;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}