.profile-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}

.username {
    margin-left: 20px;
    color: rgb(74, 103, 146);
    font-size: 40px;
}

.upload-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background: rgb(74, 103, 146);
    height: 38px;
    margin-top: 10px;
    margin: 1 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.upload-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}